In [2]:
import sqlite3
import pandas as pd

# Re-establish connection to the database
conn = sqlite3.connect('chenmed_demo.db')

# Query the employees table
employee_query = "SELECT * FROM employees"
employee_df = pd.read_sql_query(employee_query, conn)

# Display employee data
print("Employee Data:")
display(employee_df)

# Query the patients table
patient_query = "SELECT * FROM patients"
patient_df = pd.read_sql_query(patient_query, conn)

# Display patient data
print("Patient Data:")
display(patient_df)

# Close the database connection
conn.close()

Employee Data:

   id         name   department   salary
0   1     John Doe  Engineering  90000.0
1   2   Jane Smith    Marketing  75000.0
2   3  Emily Davis      Finance  80000.0

Patient Data:

   id         name  age     condition         treatment
0   1  Alice Brown   68  Hypertension      Medication A
1   2  Bob Johnson   72      Diabetes           Insulin
2   3  Carol White   65     Arthritis  Physical Therapy